#DATABASE
POSTGRES_DB=<укажите имя базы данных>
POSTGRES_USER=<укажите пользователя>
POSTGRES_PASSWORD=<укажите пароль>
DB_HOST=db
DB_PORT=5432
#DJANGO
SECRET_KEY=<укажите секретный ключ в формате `django-insecure-...`>
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost
# <укажите количество рецептов, отображаемых на странице>
PAGE_SIZE=6
LIMIT_VALUE=1
# <выберите базу данных указав postgresql или sqlite>
DB_ENGINE=sqlite
# <укажите список доверенных сайтов>
CSRF_ORIGINS=http://*localhost,https://*localhost